<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hola</title>
  </head>
  <body>
    <h1>Hola</h1>
  @loggedIn
    <h1>Hola, {{ user.username }} ✋</h1>
  @else
    <p>No haz iniciado sesión 💔</p>
  @endloggedIn
  </body>
</html>
